/* Page Style */

body{
  font-family: Merriweather, serif;
  font-size:16px;
  width: 100%;
  height: 100%;
  color: black;
  background-color: #F0F4EF;
}

/* Media Query for Desktop */

@media only screen and (min-width: 480px){
.show{
  display: none;
}
}

/* Header Style */
header{
  justify-content: space-between;
  align-items: center;
  height: 71px;
  width: 100%;
  top:0%;
  margin-right: 1rem;
  border-bottom: 1px solid #BC8DA0;
  position: fixed;
  background-color: #F0F4EF;
  z-index: 1;
}

.hide{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 1.5rem;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 2rem;
}

.logo span:last-child{
  color: firebrick;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 72px; /* Stay at the top */
  left: 0;
  background-color: #083D77; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Content */

.content{
  position: relative;
  overflow-y: scroll;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  margin:auto;
  z-index: 0;
}

h1{
  font-family: Merriweather, serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h2{
  font-family: Merriweather, serif;
  font-size: 2rem;
  line-height: 1.2;
}

h3{
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

h4{
  font-family: Merriweather, serif;
  font-size: 1.2rem;
  line-height: 1.2;
}
/* Bio Style */

#main{

  width: 100%;
  position:relative;
  display: flex;
  flex-direction: row-reverse;
  bottom: 5%;
  background-color: #BFD7EA;
}

.bio .right{
  margin: 2rem 1.5rem;
  width: 60%;
}

.image{
  overflow: hidden;
}

.image img{
  position: relative;
  left:30%;
  height: 60%;
  width: 30%;
}

#main .info{
  justify-content: center;
  padding-left: 10px;
}

.bio .info{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#main h1{
  margin-bottom: 1.5rem;
}

#main p{
margin-bottom: 1.5rem;
}

/* Parallax Style */
.parallax {
  background-image: url("000424380013_10A.jpg");
  height: 250px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Interest in IT Section */

#interest{

  width: 100%;
  position:relative;
  margin: 25px 0px 25px 0px;

}

.it{

}

/* Ideal Job Section */

#job {

width: 100%;
position:relative;
display: flex;
margin: 25px 0px 25px 0px;
}
.Ideal{

}

.jobDetails{
  margin: 5px;
  padding-right: 5px;
  width: 60%;
}

.image{

}
.images img{
  height: 100%;
  width: 70%;
}

/* Personal Profile Section */

#profile{

  width: 100%;
  position:relative;
  margin: 25px 0px 25px 0px;
}

.personal{

}

/* Project Idea Section */

#project{

  width: 100%;
  position:relative;
  margin: 25px 0px 75px 0px;
}

.idea{

}
